/* DisplayReview */

/* borrows css from DisplayAll.css
    including: 
        error
*/

.main__review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--clr-light);
}
