:root {
  --clr-dark: #243b67;
  --clr-dark-accent: #6e5dcf;
  --clr-light-accent: #c27dfc;
  --clr-light: #f3f4f8;
}

/* reviews */
h2 {
  font-size: 1.2em;
}

/* nav */
.hamburger {
  font-size: 2em;
  position: fixed;
  bottom: 45vh;
  right: 0.2em;
  z-index: 10;
  background-color: var(--clr-dark-accent);
  color: var(--clr-light);
  padding: 0.1em 0.2em;
  border-radius: 10%;
}

.nav {
  position: fixed;
  background-color: var(--clr-dark-accent);
  bottom: 13vh;
  right: 3.4em;
  z-index: 10;
  width: 80vw;
  height: 45vh;
  max-height: 90vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  padding: 0.2em;
}

.nav_p,
.nav_p:link,
.nav_p:visited,
.nav_p:active {
  color: var(--clr-dark-accent);
  text-decoration: none;
  font-weight: bold;
  margin: 0.5em 1em;
  background-color: var(--clr-light);
  width: 10rem;
  padding: 1em 0.5em;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.nav_p:hover {
  background-color: var(--clr-light-accent);
  color: var(--clr-dark);
  text-decoration: none;
  font-weight: bold;
}

.nav-p:active {
  background-color: var(--clr-light-accent);
  color: var(--clr-dark);
  transform: scale(1.1);
  transition: 0.1s delay(0.4);
}

/* category colours */
.strategy {
  background-color: #f6bf44;
  color: var(--clr-dark);
}
.hidden-roles {
  background-color: #e9612c;
  color: var(--clr-light);
}
.dexterity {
  background-color: #eb356f;
  color: var(--clr-light);
}
.push-your-luck {
  background-color: #7844e3;
  color: var(--clr-light);
}
.roll-and-write {
  background-color: #4a88f7;
  color: var(--clr-light);
}
.deck-building {
  background-color: #2095f4;
  color: var(--clr-light);
}
.engine-building {
  background-color: #5c7728;
  color: var(--clr-light);
}
