:root {
  --clr-dark: #243b67;
  --clr-dark-accent: #6e5dcf;
  --clr-light-accent: #c27dfc;
  --clr-light: #eaebed;
}

/* Header */
h1 {
  margin: 0em;
  color: var(--clr-light);
  background-color: var(--clr-dark-accent);
  padding: 1em;
  position: fixed;
  width: 100vw;
  font-size: 1.5em;
}

.header {
  overflow: hidden;
}

.user-img {
  width: 2.2em;
  height: 2.2em;
  z-index: 10;
  border-radius: 25%;
  position: fixed;
  bottom: 45vh;
  left: 0.4em;
  border: 3px solid var(--clr-dark-accent);
}

.user-bar {
  position: fixed;
  background-color: var(--clr-dark-accent);
  bottom: 35vh;
  left: 3.4em;
  z-index: 9;
  width: 50vw;
  height: 20vh;
  max-height: 90vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5em;
}

.user-bar__img {
  width: 4em;
  height: 4em;
  z-index: 10;
  border-radius: 50%;
  border: 3px solid var(--clr-dark-accent);
}
/* Landing */
.landing {
  height: 100vh;
  background-image: url('./assets/img/Landing-PNG-purp.png');
  background-position: center;
  background-size: 100vw;
  overflow: hidden;
}

.landing-btn {
  position: absolute;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  bottom: 10em;
  padding: 1em 1em;
  background-color: var(--clr-dark-accent);
  border-radius: 10px;
  border: none;
  font: 600 1em system-ui;
  color: var(--clr-light);
  transition: all 0.5s ease-in-out;
}

.landing-btn:hover {
  background-color: var(--clr-light-accent);
  color: var(--clr-dark);
  transform: scale(1.1);
  transition: 0.7s;
}

.landing-btn:active {
  background-color: var(--clr-light-accent);
  color: var(--clr-dark);
  transform: scale(1.1);
  transition: 0.1s delay(0.4);
}

.userSelect {
  position: absolute;
  top: 65vh;
}

/* reviews */

.review-body {
  background-color: var(--clr-light);
  background-size: 100vw;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--clr-dark);
}

.review {
  background-color: var(--clr-light-accent);
  text-align: center;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
}

.review__img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  border-radius: 0;
  margin: 0;
}

.top-review {
  max-height: 35vh;
  width: 70%;
  margin: 8em 0 2em 0;
  color: var(--clr-dark);
}

.review__category {
  margin: 0 0;
  padding: 0.2em;
  font-size: 0.9em;
  border-radius: 9px 9px 0 0;
}

.review__designer {
  background-color: var(--clr-light);
  font-size: 0.8em;
  text-align: right;
  margin: 0;
  padding: 0 0.2em 0 0;
}

.review-title,
.review-title:link,
.review-title:visited,
.review-title:active {
  color: var(--clr-light);
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  background-color: var(--clr-dark-accent);
  padding: 0.2em 0;
  text-align: center;
}

.review__body {
  background-color: var(--clr-light);
  height: 3em;
  display: block;
  display: -webkit-box;
  height: 2.6em;
  line-height: 1.3em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: -0.25em 0 0 0;
  padding: 0.2em;
  text-align: left;
}

.review__created {
  background-color: var(--clr-light);
  text-align: right;
  margin: 0;
  font-size: 0.7em;
  padding: 0 0.2em 0 0;
}

h2 {
  font-size: 1.2em;
}

.welcome {
  font-weight: bold;
  font-size: 1.3em;
}

.single {
  margin: 8em 0;
}

.review__body-single {
  background-color: var(--clr-light);
  margin: -0.25em 0 0 0;
  padding: 0.2em;
}

.votes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.vote-icon-left {
  background-color: var(--clr-light-accent);
  width: 30%;
  padding: 3vh 3vw;
  border-radius: 0 0 0 9px;
}

.vote-display {
  width: 30%;
}

.vote-icon-right {
  background-color: var(--clr-light-accent);
  width: 30%;
  padding: 3vh 3vw;
  border-radius: 0 0 9px 0;
}

.vote-icon-left:hover,
.vote-icon-right:hover {
  background-color: var(--clr-dark-accent);
  color: var(--clr-light);
}

/* nav */
.hamburger {
  font-size: 2em;
  position: fixed;
  bottom: 45vh;
  right: 0.2em;
  z-index: 10;
  background-color: var(--clr-dark-accent);
  color: var(--clr-light);
  padding: 0.1em 0.2em;
  border-radius: 10%;
}

.nav {
  position: fixed;
  background-color: var(--clr-dark-accent);
  bottom: 13vh;
  right: 3.4em;
  z-index: 10;
  width: 80vw;
  height: 45vh;
  max-height: 90vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  padding: 0.2em;
}

.nav_p,
.nav_p:link,
.nav_p:visited,
.nav_p:active {
  color: var(--clr-dark-accent);
  text-decoration: none;
  font-weight: bold;
  margin: 0.5em 1em;
  background-color: var(--clr-light);
  width: 10rem;
  padding: 1em 0.5em;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.nav_p:hover {
  background-color: var(--clr-light-accent);
  color: var(--clr-dark);
  text-decoration: none;
  font-weight: bold;
}

.nav-p:active {
  background-color: var(--clr-light-accent);
  color: var(--clr-dark);
  transform: scale(1.1);
  transition: 0.1s delay(0.4);
}

/* category colours */
.strategy {
  background-color: #f6bf44;
  color: var(--clr-dark);
}
.hidden-roles {
  background-color: #e9612c;
  color: var(--clr-light);
}
.dexterity {
  background-color: #eb356f;
  color: var(--clr-light);
}
.push-your-luck {
  background-color: #7844e3;
  color: var(--clr-light);
}
.roll-and-write {
  background-color: #4a88f7;
  color: var(--clr-light);
}
.deck-building {
  background-color: #2095f4;
  color: var(--clr-light);
}
.engine-building {
  background-color: #5c7728;
  color: var(--clr-light);
}

.comments-section {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--clr-light-accent);
  margin: 2em 0 2em 0;
  border-radius: 11px;
  color: var(--clr-dark);
}

.comments-card {
  background-color: var(--clr-light);
  width: 80%;
  margin: 1em 0;
  text-align: center;
  border-radius: 11px;
  color: var(--clr-dark);
}

.comments-section__new {
  width: 70%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--clr-light-accent);
  margin: -4em 0 2em 0;
  border-radius: 11px;
  color: var(--clr-dark);
  padding: 1em 0 1em 0;
}

.comments-section__new-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--clr-light-accent);
  border-radius: 11px;
  color: var(--clr-dark);
}
textarea {
  width: 80%;
  height: 10vh;
  border-radius: 10px;
}

form button {
  margin: 0.5em 0;
}

form label {
  margin: 0.5em 0;
}

.error {
  position: absolute;
  top: 25vh;
}

.pulse {
  animation: pulse 1.4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.loadable {
  border-radius: 1.25rem;
  overflow: hidden;
  margin: 2em auto;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
